/*-----------UNIVERSAL PROPERTIES---------------*/
html {
  background-color: white;
}
.titlegrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  height: 100%;
}

.title {
  position: relative;
}

.titletext {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px 100px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin: 30px auto 0;
  text-align: center;
  margin-bottom: 40px;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: "Crimson Text", serif;
}

.top-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  place-content: space-between;
  align-items: center;
}
header {
  padding-bottom: 10px;
  background-color: #ff7722;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  text-align: center;
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}
nav a:hover {
  border-radius: 15px;
  outline-width: 4px;
  padding: 4px;
  outline-color: black;
  outline-style: solid;
}

/*---------------MAIN HOME CONTENT AND TEXT/LOGO -----------------*/

.mainhome {
  text-align: center;
  float: left;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  font-size: 25px;
  color: black;
}

.homemain a:hover {
  color: white;
}

.homemain {
  margin-top: 20px;
}

.subtext {
  margin: 5px auto;
  display: grid;
  height: 100%;
}

.subtext td {
  padding: 5px;
  border: 5px #17252a solid;
  text-align: center;
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  font-weight: 800;
}

.subtext a {
  text-decoration: none;
  color: black;
}

.subtext a:hover {
  color: blue;
}

.homepic img {
  margin: 5px auto;
  display: grid;
  height: 100%;
  text-align: center;
  height: 350px;
}

/*------------------TEAM PROFILE------------------*/
.teaminfo {
  position: relative;
}

.teaminfogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.gordoninfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.rishiinfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.anakinres {
  position: relative;
  margin-bottom: 10px;
}

.anares {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 0px;
}

.anakininfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.gp {
  position: relative;
  margin-bottom: 10px;
}

.gpgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 0px;
}

.gpoverall {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
}

.cp {
  position: relative;
}

.cpgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.fribacp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.markcp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.rishicp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.gordoncp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.markinfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.fribainfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.anakincpp {
  position: relative;
  margin-bottom: 10px;
}

.anacpp {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 0px;
}

.anakincp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

.caconres {
  position: relative;
  margin-bottom: 10px;
}

.cacres {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 40px;
}

.compareinfo {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
}

/*----------------Project Overview ----------------*/
.overviewtopic {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.overviewmotivation {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.overviewlandscape {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
/*---------------Project Description-------------*/
.propaim {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.propgoal1 {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.propgoal2 {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
.propgoal3 {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.roles {
  position: relative;
}

.rolesgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.rishirol {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.gordonrol {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.fribarol {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.markrol {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.anakinrols {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.inforols {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.tat {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.tatexp {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.test {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.risks {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.gpcom {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
/*----------Skills and Jobs-------------*/

.saj {
  position: relative;
}

.sajgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.ProjectManager {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.Testers {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.Developers {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.Architect {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.UserInterface {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 40px;
}
/*----------REFLECTION----------*/

.reflection {
  position: relative;
}

.reflectiongrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.gordonref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.fribaref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.rishiref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.markref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.anakinref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.reflectiongroup {
  position: relative;
}

.reflectiongroupgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  height: 100%;
  margin-bottom: 10px;
}

.groupref {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.pap {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
}
